.videoContainer {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
  gap: 16px;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}

.videoContainer::-webkit-scrollbar {
  display: none;
}
