.videoContainer{
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
   gap: 10px;
}
.menuOpen{
    gap: 10px;
}
.menuClose{
  gap: 22px;
}
.videoContainer::-webkit-scrollbar {
    display: none;
}