.mainContainer{
    margin: 0 0px 30px 25px;
    overflow: hidden;
}
.menuOpen{
    max-width: 79vw;
}
.menuClose{
    max-width: 90vw;
}
@media (max-width: 767px) {
    .mainContainer{
        margin: 0;
    }
    .menuOpen,
     .menuClose{
        max-width: 97vw;
    }
}
@media (max-width : 637px) {
    .menuOpen,
     .menuClose{
        max-width: 97vw;
    }
}
@media (min-width: 767px) and (max-width: 1200px) {
    .menuOpen,
     .menuClose{
        max-width: 94vw;
    }
}