.mainContainer{
    margin: 0 25px 30px 25px;
    overflow: hidden;
}
.menuOpen{
    max-width: 76vw;
}
.menuClose{
    max-width: 90vw;
}
@media (max-width: 767px) {
    .mainContainer{
        margin: 0;
    }
}
