.carouselWrapper {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  overflow: hidden;
  background-color: white;
}

.menuOpen {
  max-width: 78vw;
}

.menuClose {
  max-width: 83vw;
}

.carouselContainer {
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  flex: 1;
}

.carouselContainer::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit browsers */
}

.carousel {
  display: flex;
  gap: 16px;
  white-space: nowrap; /* Prevent items from wrapping */
}

.arrowButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1001;
  background: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.left {
  left: 0px;
}

.right {
  right: 0px;
}

/* Responsive styles */
@media (max-width: 767px) {
  .carouselWrapper {
    padding: 5px 0;
  }

  .carouselContainer {
    overflow-x: auto; /* Ensure horizontal scrolling is enabled */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
  }

  .carousel {
    gap: 8px;
  }

  .arrowButton {
    display: none; /* Hide arrow buttons on smaller screens */
  }
}

@media (max-width: 639px) {
  .menuOpen ,
  .menuClose {
    max-width: 94vw;
  }

  .carouselContainer {
    overflow-x: auto; /* Ensure horizontal scrolling is enabled */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
  }

  .carousel {
    gap: 6px;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .carousel {
    gap: 10px;
  }
  .menuOpen,
   .menuClose {
    max-width: 96vw;
  }
}

@media (min-width: 1280px) {
  .carousel {
    gap: 20px;
  }

  .arrowButton {
    width: 40px;
    height: 40px;
  }
  .menuClose {
    max-width: 89vw;
  }
}
@media (min-width: 767px) and (max-width: 1200px) {
  .menuOpen ,
   .menuClose{
    max-width: 93vw;
  }
}