.carouselWrapper {
  position: fixed;        
  width: 100%;            
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 1000;           */
  padding: 10px 0;
  overflow: hidden;
  background-color: white;
}
.menuOpen{
   max-width: 76vw;
}
.menuClose{
   max-width: 89vw;
}
.carouselContainer {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;     
  flex: 1;                   
}

.carouselContainer::-webkit-scrollbar {
  display: none;            
}

.carousel {
  display: flex;
  gap: 16px;               
  white-space: nowrap;     
}

.arrowButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1001;
  background: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.left {
  left: 0px;
}

.right {
  right: 0px;
}