.defaultItemsList{
    list-style: none;
    font-size: 10px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.defaultItemsListItem{
    cursor: pointer;
    padding: 20px 0;
}
.defaultItemsListItem:hover{
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10%;
}
.profileIcon{
   width: 40px;
    border-radius: 50%;
    height: 40px;
    object-fit: cover;
}    
@media (max-width : 639px){
    .defaultItemsList{
      display: none;
    }
}