.mainContainer {
  margin: 25px 25px 30px 25px;
  display: flex;
  flex-wrap: wrap;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 10px;
}
.menuOpen {
  max-width: 80vw;
}
.menuClose {
  max-width: 90vw;
}
.videoContainer::-webkit-scrollbar {
  display: none;
}